# Jupyter notebook checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/

# data folder
data_VOC2012
results*

# model files
checkpoints
weights*
hand_detection/checkpoints
